<div class="post-block clearfix">
  <a class="avatar link"><img src="img/avatar-red.png"/></a>

  <div class="content">
    <div>{{#if post.repost}}THIS IS A REPOST OF {{post.repost.name}}{{/if}}</div>
    <div class="author">{{#link-to 'user' post.user }}{{post.user.name}}{{/link-to}}</div>
    <div class="text">{{post.body}}</div>
    <div class="footer">
      <span class="timestamp">{{ago post.createdAt}}</span>
      {{#if repostable}}
        <span class="middot">&middot;</span>
        <a class="blue-link" {{action 'repost'}}>Repost</a>
      {{/if}}
      {{#if deletable}}
        <span class="middot">&middot;</span>
        <a href class="blue-link" {{action 'deletePost'}}>Delete</a>
      {{/if}}
    </div>
  </div>
</div>

<h3></h3>
<div></div>
<div></div>
