<h3>Sign Up!</h3>

<form {{action 'signup' on='submit'}}>
  <div>{{input value=name placeholder="Enter your name..."}}</div>
  {{errors.name}}
  <div>{{input value=email placeholder="Enter your email..."}}</div>
  {{errors.email}}
  <div>{{input type='password' value=password placeholder="Enter your password..."}}</div>
  {{errors.password}}

  <button type='submit'>Sign Up</button>
</form>
