<h3>Sign Up!</h3>

<form {{action 'signup' on='submit'}}>
  <div>{{input value=name placeholder="Enter your name..."}}</div>
  {{#if displayErrors}}
    {{errors.name}}
  {{/if}}
  <div>{{input value=email placeholder="Enter your email..."}}</div>
  {{#if displayErrors}}
    {{errors.email}}
  {{/if}}
  <div>{{input type='password' value=password placeholder="Enter your password..."}}</div>
  {{#if displayErrors}}
    {{errors.password}}
  {{/if}}

  <div><button type='submit'>Sign Up</button></div>
</form>
