<div class="auth">
  <div class="rect clearfix">
    <div class="left">
      <img class="absolute-center-xy" src="img/telegram-logo.png"/>
    </div>
    <div class="right">
      <img class="postmark" src="img/postmark.png"/>
      <div class="content">
        <h2>Log In</h2>

        <form class="auth-form" {{action 'login' on='submit'}}>
          {{input value=email placeholder="Enter your email..." class="auth-input"}}
          {{#if displayErrors}}
            {{errors.email}}
          {{/if}}
          {{input type='password' value=password placeholder="Enter your password..." class="auth-input"}}
          {{#if displayErrors}}
            {{errors.password}}
          {{/if}}
          <div class="form-footer clearfix">
            <button type='submit' class='blue-btn submit'>Log In</button>
            <div class="alternatives">
              {{#link-to 'recover' class="blue-link"}}Recover Password{{/link-to}}
            </div>
          </div>
        </form>

        {{signup-block action='signup'}}

      </div>
    </div>
  </div>
</div>
